asgiref==3.8.1
blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
distlib==0.3.9
dj-database-url==3.0.1
dj-email-url==1.0.6
Django==5.2.1
django-cache-url==3.4.5
environs==14.5.0
filelock==3.18.0
Flask==3.1.0
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
marshmallow==4.1.2
packaging==25.0
pipenv==2025.0.2
platformdirs==4.3.8
psycopg==3.3.2
psycopg-binary==3.3.2
python-dotenv==1.2.1
requests==2.32.3
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.3.0
virtualenv==20.31.2
Werkzeug==3.1.3
