<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'pages_home' %}">Pages</a>
        <a href="{% url 'posts_home' %}">Posts</a>
        <a href="{% url 'post_new' %}">New Post</a>
    </header>
    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login'%}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>2025 MySite</p>
    </footer>
</body>
</html>
